<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Currency Calculator</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="../static/assets/img/favicon.png" th:href="@{/../assets/img/favicon.png}" rel="icon">
    <link href="../static/assets/img/apple-touch-icon.png" th:href="@{/../assets/img/apple-touch-icon.png}"
          rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,300i,400,400i,500,500i,600,600i,700,700i|Playfair+Display:400,400i,500,500i,600,600i,700,700i,900,900i"
          th:href="@{https://fonts.googleapis.com/css?family=Poppins:300,300i,400,400i,500,500i,600,600i,700,700i|Playfair+Display:400,400i,500,500i,600,600i,700,700i,900,900i}"
          rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="../static/assets/vendor/bootstrap/css/bootstrap.min.css"
          th:href="@{/../assets/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <link href="../static/assets/vendor/bootstrap-icons/bootstrap-icons.css"
          th:href="@{/../assets/vendor/bootstrap-icons/bootstrap-icons.css}" rel="stylesheet">
    <link href="../static/assets/vendor/boxicons/css/boxicons.min.css"
          th:href="@{/../assets/vendor/boxicons/css/boxicons.min.css}" rel="stylesheet">
    <link href="../static/assets/vendor/glightbox/css/glightbox.min.css"
          th:href="@{/../assets/vendor/glightbox/css/glightbox.min.css}" rel="stylesheet">
    <link href="../static/assets/vendor/swiper/swiper-bundle.min.css"
          th:href="@{/../assets/vendor/swiper/swiper-bundle.min.css}" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="../static/assets/css/style.css" th:href="@{/../assets/css/style.css}" rel="stylesheet">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          th:href="@{https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css}" rel="stylesheet"
          id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            th:src="@{https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js}"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"
            th:src="@{https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js}"></script>
    <script SRC="../static/assets/js/Login.js" th:src="@{/../assets/js/Login.js}"></script>
    <!-- =======================================================
    * Template Name: Folio - v4.1.0
    * Template URL: https://bootstrapmade.com/folio-bootstrap-portfolio-template/
    * Author: BootstrapMade.com
    * License: https://bootstrapmade.com/license/
    ======================================================== -->
</head>

<body>

<!-- ======= Header ======= -->
<header id="header" class=" ">
    <div class="container d-flex align-items-center justify-content-between">

        <a href="#" th:href="@{/admin}" class="logo"><img src="../static/assets/img/logo.png" th:src="@{../assets/img/logo.png}" alt="" class="img-fluid"></a>
        <!-- Uncomment below if you prefer to use an text logo -->
        <!--		 <h1 class="logo"><a href="index.html">Folio</a></h1> -->

        <nav id="navbar" class="navbar">
            <ul>
                <li><a class="nav-link  scrollto" href="organiserProfile.html" th:href="@{/admin/currency}">Add currency</a></li>
                <li>
                    <a class="nav-link scrollto" href="logoutPage.html" th:href="@{/logoutPage}">Logout</a>
                </li>
            </ul>
            <i class="bi bi-list mobile-nav-toggle"></i>
        </nav><!-- .navbar -->

    </div>
</header><!-- End Header -->


<!-- ======= Hero Section ======= -->

<div id="contact" class="paddsection">
    <div class="container">
        <div class="contact-block1">
            <div class="row">

                <div class="col-lg-6">
                    <div class="contact-contact">

                        <h2 class="mb-30">ADD CURRENCY</h2>

                    </div>
                </div>
                <div class="col-lg-6">
                    <form action="#" th:action="@{/admin/currency/}" th:object="${currency}" method="post"
                          role="form" enctype="multipart/form-data">
                        <div class="col-lg-12">
                            <label type="text" class="error-message" th:text="${error}">General Error</label>
                        </div>
                        <div class="row gy-3">
                            <div class="col-lg-12">
                                <label for="cemail" class="control-label col-lg-12">Currency name<span
                                        class="required"></span></label>
                                <div class="form-group contact-block1">
                                    <input type="text" th:field="*{name}" name="title" class="form-control" id="title"
                                           required>
                                    <label class="error" th:errors="*{name}">CurrencyNameError</label>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <label for="cemail" class="control-label col-lg-12">Currency code<span
                                        class="required"></span></label>
                                <div class="form-group contact-block1">
                                    <input type="text" th:field="*{code}" name="title" class="form-control" id="title"
                                           required>
                                    <label class="error" th:errors="*{code}">CurrencyCodeError</label>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <label for="cemail" class="control-label col-lg-12">Units<span
                                        class="required"></span></label>
                                <div class="form-group contact-block1">
                                    <input type="text" th:field="*{units}" name="title" class="form-control" id="title"
                                           required>
                                    <label class="error" th:errors="*{units}">UnitsError</label>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <label for="cemail" class="control-label col-lg-12">BGN<span
                                        class="required"></span></label>
                                <div class="form-group contact-block1">
                                    <input type="text" th:field="*{valueBGN}" name="title" class="form-control" id="title"
                                           required>
                                    <label class="error" th:errors="*{valueBGN}">BGNError</label>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <label for="cemail" class="control-label col-lg-12">Return value for BGN<span
                                        class="required"></span></label>
                                <div class="form-group contact-block1">
                                    <input type="text" th:field="*{valueReturn}" name="title" class="form-control" id="title"
                                           required>
                                    <label class="error" th:errors="*{valueReturn}">Return value for BGN Error</label>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-defeault btn-send" value="Create Currency">Add
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div><!-- End Contact Section -->

<!-- ======= Footer ======= -->
<div id="footer" class="text-center">
    <div class="container">

        <p>© 2021 Calculator, Inc.</p>

        <div class="credits">
            <!--
            All the links in the footer should remain intact.
            You can delete the links only if you purchased the pro version.
            Licensing information: https://bootstrapmade.com/license/
            Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=Folio
          -->
            Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
        </div>

    </div>
</div><!-- End Footer -->

<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
        class="bi bi-arrow-up-short"></i></a>

<!-- Vendor JS Files -->
<script src="../static/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"
        th:src="@{/../assets/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
<script src="../static/assets/vendor/glightbox/js/glightbox.min.js"
        th:src="@{/../assets/vendor/glightbox/js/glightbox.min.js}"></script>
<script src="../static/assets/vendor/isotope-layout/isotope.pkgd.min.js"
        th:src="@{/../assets/vendor/isotope-layout/isotope.pkgd.min.js}"></script>
<script src="../static/assets/vendor/php-email-form/validate.js"
        th:src="@{/../assets/vendor/php-email-form/validate.js}"></script>
<script src="../static/assets/vendor/swiper/swiper-bundle.min.js"
        th:src="@{/../assets/vendor/swiper/swiper-bundle.min.js}"></script>
<script src="../static/assets/vendor/typed.js/typed.min.js" th:src="@{/../assets/vendor/typed.js/typed.min.js}"></script>


<!-- Template Main JS File -->
<script src="../static/assets/js/main.js" th:src="@{/../assets/js/main.js}"></script>


</body>

</html>