<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Currency Calculator</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="../static/assets/img/favicon.png" th:href="@{../assets/img/favicon.png}" rel="icon">
    <link href="../static/assets/img/apple-touch-icon.png" th:href="@{../assets/img/apple-touch-icon.png}"
          rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,300i,400,400i,500,500i,600,600i,700,700i|Playfair+Display:400,400i,500,500i,600,600i,700,700i,900,900i"
          th:href="@{https://fonts.googleapis.com/css?family=Poppins:300,300i,400,400i,500,500i,600,600i,700,700i|Playfair+Display:400,400i,500,500i,600,600i,700,700i,900,900i}"
          rel="stylesheet">
    <!-- Vendor CSS Files -->
    <link href="../static/assets/vendor/bootstrap/css/bootstrap.min.css"
          th:href="@{../assets/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <link href="../static/assets/vendor/bootstrap-icons/bootstrap-icons.css"
          th:href="@{../assets/vendor/bootstrap-icons/bootstrap-icons.css}" rel="stylesheet">
    <link href="../static/assets/vendor/boxicons/css/boxicons.min.css"
          th:href="@{../assets/vendor/boxicons/css/boxicons.min.css}" rel="stylesheet">
    <link href="../static/assets/vendor/glightbox/css/glightbox.min.css"
          th:href="@{../assets/vendor/glightbox/css/glightbox.min.css}" rel="stylesheet">
    <link href="../static/assets/vendor/swiper/swiper-bundle.min.css"
          th:href="@{../assets/vendor/swiper/swiper-bundle.min.css}" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="../static/assets/css/style.css" th:href="@{../assets/css/style.css}" rel="stylesheet">

    <!-- =======================================================
    * Template Name: Folio - v4.1.0
    * Template URL: https://bootstrapmade.com/folio-bootstrap-portfolio-template/
    * Author: BootstrapMade.com
    * License: https://bootstrapmade.com/license/
    ======================================================== -->
</head>

<body>

<!-- ======= Header ======= -->
<header id="header" class="">
    <div class="container d-flex align-items-center justify-content-between">

        <a href="#" th:href="@{/}" class="logo"><img src="../static/assets/img/logo.png"
                                                     th:src="@{../assets/img/logo.png}" alt="" class="img-fluid"></a>
        <!-- Uncomment below if you prefer to use an text logo -->
        <!--		 <h1 class="logo"><a href="index.html">PhotoContest</a></h1>-->

        <nav id="navbar" class="navbar">
            <ul>
                <li>
                    <a th:unless="${session.loggedUser != null}" class="nav-link scrollto" href="#contact"
                       th:href="@{/login}">Login</a>
                    <a th:if="${session.loggedUser != null}" class="nav-link scrollto" href="#contact"
                       th:href="@{/logoutPage}">Logout</a>
                </li>
            </ul>
            <i class="bi bi-list mobile-nav-toggle"></i>
        </nav><!-- .navbar -->

    </div>
</header><!-- End Header -->

<!-- ======= Hero Section ======= -->
<main id="main">

    <!-- ======= About Section ======= -->

    <!-- ======= Services Section ======= -->
    <!-- End Services Section -->

    <!-- ======= Portfolio Section ======= -->
    <div id="portfolio" class="paddsection m-lg-5">
        <div class="m-lg-5">
            <div class="container">
                <div class="section-title text-center ">
                    <h2>Currency Calculator</h2>
                </div>
            </div>
            <form action="#" th:action="@{/}" th:object="${convert}" method="post"
                  role="form" enctype="multipart/form-data">
                <div class="col-lg-4 col-md-3 col-sm-12 col-xs-12">
                    <input class="form-control" placeholder="Enter amount" type="text" th:field="${convert.amount}">
                </div>
                <div class="form-group">
                    <div class="col-lg-4 col-md-3 col-sm-12 col-xs-12">
                        <select class="form-control tooltips" id="warehouseId" th:field="${convert.currencyFromId}"
                                data-placement="left"
                                data-original-title="Choose currency from">
                            <option th:each="currency : ${allCurrencies}"
                                    th:value="${currency.getId()}"
                                    th:text="${currency.getName()} + '(' + ${currency.getCode()+ ')'} ">
                                currency from
                            </option>
                        </select>
                    </div>
                    <div class="form-group ">
                        <div class="col-lg-4 col-md-3 col-sm-12 col-xs-12">
                            <select class="form-control tooltips" id="currency" th:field="${convert.currencyToId}"
                                    data-placement="left"
                                    data-original-title="Choose currency to">
                                <option th:each="currency : ${allCurrencies}"
                                        th:value="${currency.getId()}"
                                        th:text="${currency.getName()} + '(' + ${currency.getCode()+ ')'} ">
                                    currency to
                                </option>
                            </select>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-defeault btn-send" value="Convert Currency">Convert
                    </button>
                    <br><br>
                    <div class="col-lg-4 col-md-3 col-sm-12 col-xs-12" th:if="${result} != null">
                        <h5 th:text="${result}"></h5>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="container">
        <div class="section-title text-center ">
            <h2>Currency Exchange Market</h2>
        </div>
    </div>

    <div class="container">
        <table class="table">
            <tr>
                <th>Name</th>
                <th>Currency</th>
                <th>Units</th>
                <th>BGN</th>
                <th>Return value for BGN</th>
            </tr>
            <tr th:each="currency : ${allCurrencies}">
                <td>
                    <a th:text="${currency.getName()}">Name</a>
                </td>
                <td>
                    <a th:text="${currency.getCode()}">Currency</a>
                </td>
                <td>
                    <a th:text="${currency.getUnits()}">Units</a>
                </td>
                <td>
                    <a th:text="${currency.getValueBGN()}">BGN</a>
                </td>
                <td>
                    <a th:text="${currency.getValueReturn()}">Return value for BGN</a>
                </td>
            </tr>
        </table>
    </div>

    </div><!-- End Portfolio Section -->

    <!-- ======= Journal Section ======= -->
    <!-- End Journal Section -->

    <!-- ======= Contact Section ======= -->
    <!-- End Contact Section -->

</main><!-- End #main -->

<!-- ======= Footer ======= -->
<div id="footer" class="text-center">
    <div class="container">

        <p>© 2021 Calculator, Inc.</p>

        <div class="credits">
            <!--
            All the links in the footer should remain intact.
            You can delete the links only if you purchased the pro version.
            Licensing information: https://bootstrapmade.com/license/
            Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=Folio
          -->
            Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
        </div>

    </div>
</div><!-- End Footer -->

<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
        class="bi bi-arrow-up-short"></i></a>

<!-- Vendor JS Files -->
<script src="../static/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"
        th:src="@{../assets/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
<script src="../static/assets/vendor/glightbox/js/glightbox.min.js"
        th:src="@{../assets/vendor/glightbox/js/glightbox.min.js}"></script>
<script src="../static/assets/vendor/isotope-layout/isotope.pkgd.min.js"
        th:src="@{../assets/vendor/isotope-layout/isotope.pkgd.min.js}"></script>
<script src="../static/assets/vendor/php-email-form/validate.js"
        th:src="@{../assets/vendor/php-email-form/validate.js}"></script>
<script src="../static/assets/vendor/swiper/swiper-bundle.min.js"
        th:src="@{../assets/vendor/swiper/swiper-bundle.min.js}"></script>
<script src="../static/assets/vendor/typed.js/typed.min.js" th:src="@{../assets/vendor/typed.js/typed.min.js}"></script>


<!-- Template Main JS File -->
<script src="../static/assets/js/main.js" th:src="@{../assets/js/main.js}"></script>

</body>

</html>