<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">

<head>
	<meta charset="utf-8">
	<meta content="width=device-width, initial-scale=1.0" name="viewport">

	<title>Capture</title>
	<meta content="" name="description">
	<meta content="" name="keywords">

	<!-- Favicons -->
	<link href="../static/assets/img/favicon.png" th:href="@{../assets/img/favicon.png}" rel="icon">
	<link href="../static/assets/img/apple-touch-icon.png" th:href="@{../assets/img/apple-touch-icon.png}"
	      rel="apple-touch-icon">

	<!-- Google Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Poppins:300,300i,400,400i,500,500i,600,600i,700,700i|Playfair+Display:400,400i,500,500i,600,600i,700,700i,900,900i"
	      th:href="@{https://fonts.googleapis.com/css?family=Poppins:300,300i,400,400i,500,500i,600,600i,700,700i|Playfair+Display:400,400i,500,500i,600,600i,700,700i,900,900i}"
	      rel="stylesheet">

	<!-- Vendor CSS Files -->
	<link href="../static/assets/vendor/bootstrap/css/bootstrap.min.css"
	      th:href="@{../assets/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
	<link href="../static/assets/vendor/bootstrap-icons/bootstrap-icons.css"
	      th:href="@{../assets/vendor/bootstrap-icons/bootstrap-icons.css}" rel="stylesheet">
	<link href="../static/assets/vendor/boxicons/css/boxicons.min.css"
	      th:href="@{../assets/vendor/boxicons/css/boxicons.min.css}" rel="stylesheet">
	<link href="../static/assets/vendor/glightbox/css/glightbox.min.css"
	      th:href="@{../assets/vendor/glightbox/css/glightbox.min.css}" rel="stylesheet">
	<link href="../static/assets/vendor/swiper/swiper-bundle.min.css"
	      th:href="@{../assets/vendor/swiper/swiper-bundle.min.css}" rel="stylesheet">

	<!-- Template Main CSS File -->
	<link href="../static/assets/css/style.css" th:href="@{../assets/css/style.css}" rel="stylesheet">
	<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
	      th:href="@{https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css}" rel="stylesheet"
	      id="bootstrap-css">
	<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
	        th:src="@{https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js}"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"
	        th:src="@{https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js}"></script>
	<script SRC="../static/assets/js/Login.js" th:src="@{../assets/js/Login.js}"></script>


	<!------ Include the above in your HEAD tag ---------->
	<!--	<script src="../assets/js/Login.js"></script>-->
	<meta charset="UTF-8">
	<title>Title</title>
</head>
<body id="hero">
<div class="container">
	<div class="row">
		<div class="col-md-5 mx-auto">
			<div id="first">
				<div class="myform form ">
					<div class="logo mb-3">
						<div class="col-md-12 text-center">
							<h1>Login</h1>
						</div>
					</div>
					<form action="" th:action="@{/login}" method="post" name="login">
						<div class="form-group">
							<label for="exampleInputEmail1">Username</label>
							<input type="text" name="username" class="form-control" id="username"
							       aria-describedby="usernameHelp" placeholder="Enter your username">
						</div>
						<div class="form-group">
							<label for="exampleInputEmail1">Password</label>
							<input type="password" name="password" id="password" class="form-control"
							       aria-describedby="emailHelp" placeholder="Enter your password">
							<div class="error" th:if="${param.error}">
								Invalid username and password.
							</div>
						</div>
						<div class="col-md-12 text-center ">
							<button type="submit" class=" btn btn-block mybtn btn-primary tx-tfm">Login</button>
						</div>
						<!--						<div class="col-md-12 ">-->
						<!--							<div class="login-or">-->
						<!--								<hr class="hr-or">-->
						<!--								<span class="span-or">or</span>-->
						<!--							</div>-->
						<!--						</div>-->
						<!--						<div class="col-md-12 mb-3">-->
						<!--							<p class="text-center">-->
						<!--								<a href="javascript:void();" class="google btn mybtn"><i class="fa fa-google-plus">-->
						<!--								</i> Signup using Google-->
						<!--								</a>-->
						<!--							</p>-->
						<!--						</div>-->
						<div>
							<label class="error" th:text="${error}">General error</label>
						</div>
						<div class="form-group">
							<p class="text-center">Don't have account? <a href="#" id="signup">Sign up here</a></p>
						</div>
					</form>

				</div>
			</div>
			<div id="second">
				<div class="myform form ">
					<div class="logo mb-3">
						<div class="col-md-12 text-center">
							<h1>Signup</h1>
						</div>
					</div>
					<form action="#" th:action="@{/register}" th:object="${user}" method="post" name="registration">
						<div class="form-group">
							<label for="exampleInputEmail1">Username</label>
							<input type="text" th:field="*{username}" name="username" class="form-control" id="username"
							       aria-describedby="usernameHelp" placeholder="Enter your username">
							<label class="error" th:errors="*{username}">Username error</label>
						</div>
						<div class="form-group">
							<label for="exampleInputEmail1">Password</label>
							<input type="password" th:field="*{password}" name="password" id="password"
							       class="form-control" aria-describedby="emailHelp" placeholder="Enter your password">
							<label class="error" th:errors="*{password}">Password error</label>
						</div>
						<div class="col-md-12 text-center mb-3">
							<button type="submit" class=" btn btn-block mybtn btn-primary tx-tfm">Get Started</button>
						</div>
						<div class="col-md-12 ">
							<div class="form-group">
								<p class="text-center"><a href="#" id="signin">Already have an account?</a></p>
							</div>
						</div>
				</div>
				</form>
			</div>
		</div>
	</div>
</div>
<script src="../static/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"
        th:src="@{../assets/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
<script src="../static/assets/vendor/glightbox/js/glightbox.min.js"
        th:src="@{../assets/vendor/glightbox/js/glightbox.min.js}"></script>
<script src="../static/assets/vendor/isotope-layout/isotope.pkgd.min.js"
        th:src="@{../assets/vendor/isotope-layout/isotope.pkgd.min.js}"></script>
<script src="../static/assets/vendor/php-email-form/validate.js"
        th:src="@{../assets/vendor/php-email-form/validate.js}"></script>
<script src="../static/assets/vendor/swiper/swiper-bundle.min.js"
        th:src="@{../assets/vendor/swiper/swiper-bundle.min.js}"></script>
<script src="../static/assets/vendor/typed.js/typed.min.js" th:src="@{../assets/vendor/typed.js/typed.min.js}"></script>

<!-- Template Main JS File -->
<script src="../static/assets/js/main.js" th:src="@{../assets/js/main.js}"></script>
<script SRC="../static/assets/js/Login.js" th:src="@{../assets/js/Login.js}"></script>
<link href="../static/assets/css/styleLogin.css" rel="stylesheet" th:href="@{../assets/css/styleLogin.css}">
<script src="https://cdn.jsdelivr.net/jquery.validation/1.15.1/jquery.validate.min.js"
        th:src="@{https://cdn.jsdelivr.net/jquery.validation/1.15.1/jquery.validate.min.js}"></script>
<link href="https://fonts.googleapis.com/css?family=Kaushan+Script"
      th:href="@{https://fonts.googleapis.com/css?family=Kaushan+Script}" rel="stylesheet">
<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      th:href="@{https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css}" rel="stylesheet"
      integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
</body>
</html>